@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome Admin Pong</h1>
    <h2>@ViewBag.Message</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>